<!doctype html>
<html>
  <head>
    <title>Status</title>
  </head>
  <body>
    <h1>Status</h1>
    <table>
      <thead>
        <tr>
          <th>URL</th>
          <th>Bounces</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for url, bounces in bounces.items() %}
        <tr>
          <td>{{ url }}</td>
          <td>{{ bounces }}</td>
          <td>{% if is_online(url) %}Online{% else %}Offline{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
